*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}
.parent-conatiner {
    display: flex;
    width: 100%;
    /* background-color: blue; */
    height: 60px;


}
.left-side-dev a{
    color: black;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease  ;
    -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease  ;
    -moz-transition: transform 0.3s ease, box-shadow 0.3s ease  ;
    -ms-transition: transform 0.3s ease, box-shadow 0.3s ease  ;
    -o-transition: transform 0.3s ease, box-shadow 0.3s ease  ;
}
.left-side-dev{
    /* background-color: yellow; */
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.right-side-dev{
    padding: 1.5%;
    row-gap: 2px;
    column-gap: 10px;
    /* background-color: pink; */
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.button{
    margin: 4px;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    transition:transform 0.3 ease;
    -webkit-transition:transform 0.3 ease;
    -moz-transition:transform 0.3 ease;
    -ms-transition:transform 0.3 ease;
    -o-transition:transform 0.3 ease;
}
.button1{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    /*border: none;
    */width: 200px;
    height: 50px;
    color: white;
    border-radius:7px;
}
.right-side-dev a{
        color: black;
        display: inline-block;
        text-decoration: none;
        font-size: 20px;

}
.rightSide {
/* padding: 1.5%; */
/* row-gap: 2px; */
/* column-gap: 10px; */
/* background-color: pink; */
/* flex: 1; */
display: flex;
justify-content: flex-end;
/* align-items: center; */
}
.button2{
    margin: 20px;
    /* padding: 20px; */
    background-color: rgb(255, 255, 255);
    text-align:center;
    font-size: 20px;
    cursor: pointer;
    width: 220px;
    height: 50px;
    border-radius:5px;
}
.left-side-dev a:hover{
    color: rgb(138, 136, 143);
    transform: scale(0.95);
    
}
.button:hover{
    transform:scale(0.9) ;
    -webkit-transform:scale(0.9) ;
    -moz-transform:scale(0.9) ;
    -ms-transform:scale(0.9) ;
    -o-transform:scale(0.9) ;
}